
@model LibraryMVC.ViewModels.LoginViewModel

<div class="row">
    <div class="col-md-6">

        <h2>Local Account Login</h2>
        <hr />
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label><br />
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Увійти" class="btn btn-primary" />
            </div>
            <a asp-action="ForgotPassword">Забули пароль?</a>
        </form>
    </div>
    <div class="col-md-6">
        <h2 >External Login</h2>
        <hr />
        <form method="post" asp-action="ExternalLogins" asp-route-returnUrl="@Model.ReturnUrl">
            <div>
                @foreach (var provider in Model.ExternalLogins)
                {
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg loginbtn" name="provider" value="@provider.Name" style="width:auto"
                            title="Login using your @provider.DisplayName account">
                        Login with @provider.DisplayName
                    </button>
                </div>
                }
            </div>
        </form>

    </div>
    </div>
