@model InsuranceDatabase.Brokers

@{
    ViewData["Title"] = "Details";
    var PhotoPath = "~/brokerImages/" + (Model.ImagePath ?? "unnamed.png");
}

<div>

    <hr />
    <h4>@ViewBag.BrokerName</h4>
    <hr />

    <!--<div class="justify-content-center m-3">
         <div class="card-body"> - Теги для выравнивания, по моему они тут не сильно нужны-->
        <img id="brokerImage" class="card-img-top" src="@PhotoPath" asp-append-version="true" />
        <!-- </div>-->
        <dl class="row ">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BrokersCategories)
            </dt>
            @if (ViewBag.Count == 0)
            {
                <dd class="col-sm-10">

                </dd>
            }
            @foreach (BrokersCategories category in ViewBag.CategoriesList)
            {
                <dd class="col-sm-10">
                    <text>@category.Category.Category</text>
                </dd>
                if (ViewBag.CategoriesList[ViewBag.Count - 1] != category)
                {
                    <dt class="col-sm-2">
                    </dt>
                }

            }

            <dt class="col-sm-2">
            </dt>
            <dd class="col-sm-10">
                <p><a asp-action="Index" asp-route-brokerId="@Model.Id">Переглянути інших брокерів в цих категоріях </a></p>

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                <text>@ViewBag.Day.@ViewBag.Month.@ViewBag.Year</text>
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Passport)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Passport)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Договори
            </dt>
            <dd class="col-sm-10">
                <a asp-action="BrokersDocuments" asp-route-id="@ViewBag.BrokerId" asp-route-broker="@ViewBag.BrokerName">Переглянути документи</a>
            </dd>

        </dl>
    <!--</div>-->
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Index">Повернутись</a>
</div>
