@model IEnumerable<InsuranceDatabase.Brokers>

@{
    ViewData["Title"] = "Брокери";
}

<h1>Брокери</h1>
<link rel="stylesheet" type="text/css" href="~/css/style3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="~/js/script3.js"></script>-->
@if (User.IsInRole("broker") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Додати брокера", "Create")
    </p>
}
<form asp-controller="Brokers" asp-action="Index">
    <ul class="nav nav-tabs nav nav-pills d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#name_search">Пошук по імені</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#category_search">Пошук по категорії</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="name_search">
            <div class="d-flex p-2 bd-highlight">
                <div id="number" class="d-flex align-content-center flex-wrap">
                    <input id="num" name="searchString" class="form-control flex-fill" placeholder="Ім'я брокера">
                    <button id="button" class="flex-fill" type="submit">
                        <span>Пошук</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="category_search">
            <div class="d-flex p-2 bd-highlight">
                <div id="number" class="d-flex align-content-center flex-wrap">
                    <select id="categories" name="categoryId" class="flex-fill">
                        <option value="">Брокери в категорії : </option>
                        @foreach (Categories c in ViewBag.Categories)
                        {
                            <option value="@c.Id">@c.Category</option>
                        }
                    </select>
                    <button id="button" type="submit" class="flex-fill">
                        <span>Пошук</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table image-table table-responsive-sm">
    <thead>
        <tr class="table-primary">
            <th>

            </th>
            <th>
                Ім'я
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                Прізвище
                @*@Html.DisplayNameFor(model => model.Surname)*@
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-light" id="brokers"></tbody>
    @*<tbody>
            @foreach (var item in Model)
            {
            <tr class="table-light">
                <td>
                    @{
                        var PhotoPath = "~/brokerImages/" + (item.ImagePath ?? "unnamed.png");
                    }
                    <img id="brokerImage" class="card-img-top" src="@PhotoPath" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>


                @if (User.IsInRole("broker") || User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit"  asp-route-id="@item.Id">Редагувати</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details"  asp-route-id="@item.Id">Деталі</a>
                    </td>
                }
            </tr>
            }
        </tbody>*@
</table>
<script src="~/js/dynamicAuto.js"></script>
<!--<script src="~/js/dynamicSearch.js"></script>-->
<div class="container">
    <div id="chart2"></div>
</div>


@section scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonData2', function (jsonData) {
                //var data = new google.visualization.DataTable();
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Кількість підписаних докуметів брокером",
                    width: 700,
                    height: 550

                };
                chart = new google.visualization.BarChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })

        }
    </script>
}
