@model IEnumerable<InsuranceDatabase.BrokersCategories>

@{
    ViewData["Title"] = "Брокери в категорії ";
}

<h1>Брокери в категорії @ViewBag.CategoryName</h1>

    <p>
        <a asp-action="Create" asp-route-categoryId="@ViewBag.CategoryId">Додати брокера до категорії</a>
    </p>

<table class="table image-table">
    <thead>
        <tr class="table-primary">
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Broker.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Broker.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-light">
            <td>
                @{
                    var PhotoPath = "~/brokerImages/" + (item.Broker.ImagePath ?? "unnamed.png");
                }
                <img id="brokerImage" class="card-img-top" src="@PhotoPath" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broker.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broker.Surname)
            </td>
           
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-categoryId="@ViewBag.CategoryId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-categoryId="@ViewBag.CategoryId">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-categoryId="@ViewBag.CategoryId">Видалити</a>
                </td>

            </tr>
        }
    </tbody>
</table>
