@model InsuranceDatabase.Types

@{
    ViewData["Title"] = "Details";
}
<hr />
<h4>@ViewBag.TypeName</h4>
<hr />
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Category)
        </dd>
        @if (User.IsInRole("broker") || User.IsInRole("admin"))
        {
            <dt class="col-sm-2">
                Документи
            </dt>
            <dd class="col-sm-10">
                <a asp-action="TypesDocuments" asp-route-id="@Model.Id" asp-route-type="@ViewBag.TypeName">Переглянути документи</a>
            </dd>
        }
        </dl>
</div>

@if (User.IsInRole("broker") || User.IsInRole("admin"))
{
    <div>

        <a asp-action="Edit" asp-route-categoryId="@Model.CategoryId" asp-route-id="@Model.Id">Редагувати</a> |
        <a asp-action="Index" asp-route-id="@ViewBag.CategoryId" asp-route-category="@ViewBag.CategoryName">Повернутись</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index" asp-route-id="@ViewBag.CategoryId" asp-route-category="@ViewBag.CategoryName">Повернутись</a>
    </div>
}

