@model InsuranceDatabase.Documents

@{
    ViewData["Title"] = "Edit";
}
    <hr />
<h4>Редагувати договір</h4>
    <body>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" value="@ViewBag.BrokerDocId" name="BrokerDocId" />
                    <input type="hidden" value="@ViewBag.ClientDocId" name="ClientDocId" />
                    <input type="hidden" value="@ViewBag.errorList" name="errorList" />

                    <div class="text-danger">
                        <label asp-items="ViewBag.errorList"></label>
                        <label value="@ViewBag.errorList"></label>
                    </div>

                    <div class="form-group">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Sum" class="control-label"></label>
                        <input asp-for="Sum" class="form-control" />
                        <span asp-validation-for="Sum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypesId"></select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client" class="control-label"></label>
                        <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientsId"></select>
                        <span asp-validation-for="ClientId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Broker" class="control-label"></label>
                        <select asp-for="BrokerId" class="form-control" asp-items="ViewBag.BrokersId"></select>
                        <span asp-validation-for="BrokerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" value="@ViewBag.BrokerDocId" name="bDocId" />
                        <input type="hidden" value="@ViewBag.ClientDocId" name="clDocId" />
                        <input type="hidden" value="@ViewBag.TypeDocId" name="tDocId" />
                        <input type="submit" value="Зберегти" class="btn btn-primary" />
                        <a asp-action="Index" asp-route-brokerId="@ViewBag.BrokerDocId" asp-route-clientId="@ViewBag.ClientDocId" asp-route-typeId="@ViewBag.TypeDocId">Повернутись</a>
                    </div>
                </form>
            </div>
        </div>

    </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
